.wrap {
    background-color: antiquewhite;
    width: 100%;
    border-radius: 25px;
    border: solid 3px rgb(112, 86, 170);
    padding: 20px;
}

h1 {
    text-align: center;
    color: deeppink;
    font-size: 50px;
    
}

H2 { 
    text-align: center;
color: rgb(232, 176, 204);
font-size: 30px;
}
H3 {
    text-align: center ;
    color: rgb(152, 152, 193);
    font-size: 20px;
}
H4 {
    text-align: center;
    color: burlywood;
    font-size: 20px;
}
h5 {
    text-align: center;
    font-size: 20px;

}
